body {
    background: #fafafa;
	}

.modelsdata, .main-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 100px 10%;
}

.modelsdata .modeldata {
    width: 30%;
}

.modelsdata .modeldata img {width: 100%}

.main-block {
    justify-content: flex-start;
    align-items: flex-start;
}

.one-modeldata {margin-right: 100px}

footer {
    width: 80%;
    margin-left: 10%;
}